[phases.setup]
nixPkgs = ["nodejs_20", "npm"]

[phases.install]
cmds = ["npm install"]

[phases.build]
cmds = ["npm --prefix backend install --include=dev && npm --prefix backend run build"]

[start]
cmd = "npm --prefix backend run start"
